<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


    <link href="/css/navbar.css" rel="stylesheet">

    <title>Document</title>
</head>
<body>

    <script src="/js/cookie.js"></script>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

      
      

        
        
        
        <a class="navbar-brand" href="/">WEB CHẨN ĐOÁN</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item role">
                    <a class="nav-link" style="color:white;">
                        Bạn là: <%=role%>
                    </a>
                </li>


                <%if (role==='admin' ){ %>
                    <li class="nav-item">
                        <a class="nav-link" href="/tao-tai-khoan">Tạo tài khoản</a>
                    </li>
            
                    <li class="nav-item">
                        <a class="nav-link" href="/tao-benh-an">Tạo bệnh án</a>
                    </li>
            
                    <li class="nav-item">
                        <a class="nav-link" href="/danh-sach-benh-an">Danh sách bệnh án</a>
                    </li>
                <%}%>


                <%if (role.toLowerCase()==='bệnh nhân' ){ %>
                    <li class="nav-item">
                        <a class="nav-link" href="/tao-benh-an">Gửi yêu cầu tạo bệnh án</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/danh-sach-benh-an/<%=email%>">Danh sách bệnh án của bạn</a>
                    </li>
                <%}%>


                <a class="navbar-brand" href="/thong-tin-ca-nhan">
                    <%=email%>
                    <img src="https://usercontent.one/wp/adtpest.com/wp-content/uploads/2018/08/default-avatar.jpg" alt="" width="30"
                        height="24">
                </a>
            
                <li class="nav-item">
                    <a id="logout-button" class="nav-link" href="#">Đăng xuất</a>
                </li>
            </ul>
        </div>
    </nav>

    


  

    <script>

        let logoutButton = document.getElementById('logout-button')
        logoutButton.onclick = () => {
            console.log('Click logout button')
            removeCookie('user')
            window.location.href = '/dang-nhap'
        }
    </script>





</body>
</html>





    